@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor00: #ffffff;
    --cor01: #38b6ff;
    --cor02: #0d203b;
    --cor03: #00bf63;
    --cor04: #f2efeb;

    --fonte-padrao: "Inter", "Segoe UI", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.sub-cabecalho {
    background-color: var(--cor01);
    color: var(--cor00);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.cabecalho {
    padding-bottom: 10px;
}

.cabecalho > img {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    margin-left: 30px;
    width: 55px;
    height: 55px;
    top: 30px;
}

.cabecalho > h1 {
    display: inline-block;
    margin-left: 5px;
}

.cabecalho > .container > nav {
    position: relative;
    color: rgb(31, 41, 55);
    display: inline-block;
    margin-left: 30px;
    top: -20px;
    font-weight: 500;
}

.container {
    text-align: center;
}

.cabecalho > p {
    position: relative;
    margin-top: -10px;
    font-weight: 200;
    font-size: 0.8em;
    margin-left: 95px;
    bottom: 5px;
    font-weight: 400;
}

.id-01 {
    background-color: var(--cor01);
    color: var(--cor00);
    padding-bottom: 30px;
    padding-top: 70px;
}

.id-01 > h1 {
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
    text-align: center;
}

.id-01 > p {
    text-align: center;
    margin-top: 20px;
}

.id-01 > button {
    font-weight: bold;
    color: var(--cor01);
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
}

.categorias {
    width: 350px;
    height: 170px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.199);
    border-radius: 15px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

.categorias > p {
    position: relative;
    top: 135px;
}

.categorias > img {
    height: 80px;
}

.id-02 > h2 {
    text-align: center;
}

.id-02 > .container > div {
    width: 300px;
    height: 290px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.199);
    border-radius: 15px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

.id-02 > .container > div > p {
    position: relative;
    top: 30px;
    margin-top: 10px;
}

.id-02 > .container > div > button {
    position: relative;
    top: 60px;
    border: 0px none;
    border-radius: 10px;
    background-color: var(--cor01);
    padding: 10px;
    color: var(--cor00);
}

.id-02 > .container > div > .preco {
    font-weight: bolder;
    color: var(--cor01);
    font-size: 30px;
}

.id-02 > .container > div > .titulos {
    font-weight: 500px;
}

.id-02 > .container > div > img {
    height: 80px;
}

.id-03 > h2 {
    font-size: xx-large;
}

.id-03 > p {
    text-align: center;
    margin: 30px;
}

.id-03 > .container > div {
    text-align: center;
    width: 600px;
    height: 190px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.199);
    border-radius: 15px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

.id-03 > .container > div > img {
    position: relative;
    top: 20px;
    height: 50px;
}

.id-03 > .container > div > p {
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 25px;
}

.id-03 > .container > .texto {
    text-align: center;
    position: relative;
    font-weight: 300;
    bottom: 60px;
}