@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor00: #ffffff;
    --cor01: #38b6ff;
    --cor02: #0d203b;
    --cor03: #00bf63;
    --cor04: #f2efeb;

    --fonte-color: rgb(31, 41, 55);
    --fonte-padrao: "Inter", "Segoe UI", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}